{% extends "base.html" %}

{% block title %}Início{% endblock %}

{% block content %}
<section class="hero">
    <h1>Bem-vindo ao Sistema de Check-in Online RTMM</h1>
    <p>Faça check-in, escolha seu assento e gere seu cartão de embarque em poucos passos</p>
    <a href="{{ url_for('checkin') }}" class="btn">Fazer Check-in</a>
</section>

{% if not cookies_aceitos %}
<div id="cookie-banner">
    <p>Usamos cookies para melhorar sua experiência de navegação - Sobre nossa Política de Privacidade, Você aceita?</p>
    <button onclick="aceitarCookies()">Aceitar</button>
    <button onclick="rejeitarCookies()">Rejeitar</button>
</div>
{% endif %}
{% endblock %}

